<!DOCTYPE html>
<html lang="en" data-theme="retro">

<head>
    <title>Welcome | Fontelier AI</title>

    <!-- Include Tailwind CSS with DaisyUI plugin via CDN -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.13/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>

    <script>
        // Tailwind + DaisyUI Config
        tailwind.config = {
            plugins: [daisyui],
            daisyui: {
                themes: ["retro"],
            }
        };
    </script>
</head>

<body class="bg-base-200 min-h-screen flex items-center justify-center">
    <!-- Header Section -->
    <header class="mt-12 text-center">
        <h1 class="text-5xl font-bold">Welcome to Fontelier AI.</h1>
        <p class="py-6">
            Discover the perfect font for your design projects effortlessly.
        </p>

        <!-- Start Button -->
        <div class="flex-grow flex items-center justify-center">
            <a href="{{ url_for('step1') }}" class="btn btn-primary">Get Started</a>
        </div>
    </header>
</body>

</html>
