<!DOCTYPE html>
<html lang="en" data-theme="nord">

<head>
    <title>Welcome | Fontelier AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
</head>

<body class="bg-gradient min-h-screen flex flex-col items-center justify-center space-y-4">

    <!-- Form Container -->
    
    <div class="container mx-auto p-16 max-w-2xl text-center bg-white shadow-lg rounded-lg">
        <!-- Logo Section -->
        <div class="flex justify-center mb-4">
            <img src="{{ url_for('static', filename='logo.svg') }}" alt="Logo" class="w-16 h-16">
        </div>

        <progress class="progress progress-secondary max-w-xl" value="60" max="100"></progress>

        <form method="POST" class="card p-6 rounded-lg space-y-12">            
            <h2 class="text-2xl font-bold text-primary text-center">What you are using this font for?</h2>

            <!-- Custom Prompt Input -->
            <div class="flex items-center border rounded-lg p-2 shadow-inner">
                <textarea 
                    name="description" 
                    placeholder="Describe the use case for this font/font pair..." 
                    class="textarea w-full px-4 py-2 focus:outline-none resize-none"
                    rows="3"></textarea>
            </div>
            <!-- Submit Button -->
            <button type="submit" class="btn btn-outline btn-primary transition-transform rounded-full">
                Next
            </button>
        </form>
    </div>
</body>

</html>
